<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <hr>
    <form action="/">
        <button>초기화</button>
    </form>
    

    <form method="post" action="/click" >
        text : <input type="text" id="test2" name="test2"><br>
        <button type="submit">버튼</button>
    </form>

    {% if filename %}
    <div id="printImg">
        <img src="{{filename}}">
    </div>
    {% endif %}

</body>
</html> -->