#root>div>div> .container:nth-child(9){
	position: absolute;
	left: 10%;
    top: 30%;
}
#root>div>div> .container:nth-child(10){
	position: absolute;
	left: 25%;
    top: 30%;
}
#root>div>div> .container:nth-child(11){
	position: absolute;
	left: 40%;
    top: 30%;
}