div.onlybody {
  padding: 0 0 0 20em;
  // text-align: center;
}

h1 {
  font-weight:normal;
  font-family:"Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
}

ul.mylist, ol.mylist {
  list-style: none;
  margin: 0 auto;
  padding: 5em 0 0 0;
  text-align: center;
  max-width: 800px;
  width: 100%;
}

ul.mylist li, ol.mylist li {
  padding: 5px 0px 5px 5px;
  margin-bottom: 5px;
  border-bottom: 8px solid #efefef;
  font-size: 20px;
}

ul.mylist li {
  list-style:none; /* Disable the normal item numbering */
  position:relative; /* Create a positioning context */
  margin:0 0 16px 2em; /* Give each list item a left margin to make room for the numbers */
  padding:6px 18px; /* Add some spacing around the content */
  background:rgba(122, 177, 221, 0.1);
  &:before {
      content:counter(li); /* Use the counter as content */
      counter-increment:li; /* Increment the counter by 1 */
      /* Position and style the number */
      position:absolute;
      top: -16px;
      left: -30px;
      box-sizing:border-box;
      width:2em;
      /* Some space between the number and the content in browsers that support
         generated content but not positioning it (Camino 2 is one example) */
      margin-right:8px;
      color:rgb(65, 91, 237);
      // background:rgba(237, 65, 87, 1.00);
      font-weight:bold;
      font-family:"Helvetica Neue", Arial, sans-serif;
      font-size: 30px;
      text-align:center;
  }
}
