article{
  background-color: #e9e6e4;
}

 *, *:before, *:after {
  box-sizing: border-box;
}

article h1 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-size: 4em;
  font-weight: 900;
  line-height: 0.9;
}

article img {
  padding: 1em;
}

.secretpost__content .contents {
  margin: 0;
}

article button {
  padding: 0.5em 1em;
  font-size: 0.8em;
  color: #a9b1b3;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  border: 1px solid #a9b1b3;
  transition: all 0.3s ease-in;
}
.secretdetail > a:hover, a:active, a:focus {
  color: #fff;
  background-color: #a9b1b3;
}

figure {
  margin: 0;
}

/**
 * Text Selection
 */
::-moz-selection {
  color: #fff;
  background-color: #d0f2ee;
  text-shadow: none;
}
::selection {
  color: #fff;
  background-color: #d0f2ee;
  text-shadow: none;
}


/**
 * Components
 */
.secret_post {
  min-height: 100vh;
}
@media (min-width: 54em) {
  .secret_post {
    display: flex;
    height: 100vh;
    min-height: 40em;
  }
}

@media (min-width: 76.5em) {
  .secret_post > *:last-child {
    flex-basis: 40%;
    max-width: 40%;
  }
}
.secretpost__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  overflow-y: auto;
}
.secretpost__category {
  position: relative;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  overflow: hidden;
}

.secretpost__content {
  padding: 2em 0;
}
@media (min-width: 54em) {
  .secretpost__content {
    padding: 0 4em;
  }
}
.secretpost__title {
  padding-bottom: 10px;
  overflow: hidden;
}
.secretpost__title span {
  display: inline-block;
  -webkit-animation: slide-up 0.8s ease-in-out both;
          animation: slide-up 0.8s ease-in-out both;
}
.secretpost__title span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.secretpost__text {
  font-weight: 300;
  -webkit-animation: fade-in 0.8s ease-in-out both 0.5s;
          animation: fade-in 0.8s ease-in-out both 0.5s;
}
.secretpost__link {
  text-align: right;
}

