/* 
#root>div>div>div:nth-child(3) {
    position: absolute;
    left: 20%;
}

#root>div>div>div:nth-child(4) {
    position: absolute;
    left: 40%;
}

#root>div>div>div:nth-child(5) {
    position: absolute;
    left: 60%;
}

#root>div>div>div:nth-child(6) {
    position: absolute;
    left: 20%;
    top: 80%;
}

#root>div>div>div:nth-child(7) {
    position: absolute;
    left: 40%;
    top: 80%;
}

#root>div>div>div:nth-child(8) {
    position: absolute;
    left: 60%;
    top: 80%;
}

#root>div>div>div:nth-child(9) {
    position: absolute;
    left: 20%;
    top: 148%;
}

#root>div>div>div:nth-child(10) {
    position: absolute;
    left: 40%;
    top: 148%;
}

#root>div>div>div:nth-child(11) {
    position: absolute;
    left: 60%;
    top: 148%;
} */
